<div tabindex="0" (blur)="onTouched()" class="multiselect-dropdown" (clickOutside)="closeDropdown()">
  <div [class.disabled]="disabled">
    <div tabindex="-1" class="dropdown-btn" (click)="toggleDropdown($event)">
      <div class="dropdown-btn-placeholder" *ngIf="selectedItems.length == 0">{{_placeholder}}</div>
      <div #ddc class="dropdown-container">
        <div [ngStyle]="{'max-width.px': getMaxWidth()}">
          <div *ngFor="let item of visibleSelectedItems; trackBy: trackByFn; let k = index"
            class="selected-item-container">
            <div class="selected-item" [attr.title]="item.tooltip">
              <div class="selected-item-text"
                [ngClass]="{'selected-item-text-single': _settings.onlySingleLineInSelection}">
                <p>{{item.text}}</p>
              </div>
              <a class="selected-item-close" (click)="onItemClick($event,item)">x</a>
            </div>
          </div>
        </div>
        <div #rightPartDiv class="dropdown-btn-container" [ngClass]="{ 'dropdown-multiselect--active': _settings.defaultOpen }">
          <div class="dropdown-btn-container-remaining" *ngIf="itemShowRemaining()>0">+{{itemShowRemaining()}}</div>
          <div class="dropdown-multiselect__caret"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-list" [hidden]="!_settings.defaultOpen">
    <ul class="item1">
      <li (click)="toggleSelectAll()"
        *ngIf="(_data.length > 0 || _settings.allowRemoteDataSearch) && !_settings.singleSelection && _settings.enableCheckAll && _settings.limitSelection===-1"
        class="multiselect-item-checkbox" style="border-bottom: 1px solid #ccc;padding:10px">
        <input type="checkbox" aria-label="multiselect-select-all" [checked]="isAllItemsSelected()"
          [disabled]="disabled || isLimitSelectionReached()" />
        <div>{{!isAllItemsSelected() ? _settings.selectAllText : _settings.unSelectAllText}}</div>
      </li>
      <li class="filter-textbox"
        *ngIf="(_data.length>0 || _settings.allowRemoteDataSearch) && _settings.allowSearchFilter">
        <input type="text" aria-label="multiselect-search" [readOnly]="disabled"
          [placeholder]="_settings.searchPlaceholderText" [(ngModel)]="filter.text"
          (ngModelChange)="onFilterTextChange($event)">
      </li>
    </ul>
    <ul class="item2" [style.maxHeight]="_settings.maxHeight+'px'">
      <li *ngFor="let item of _data | multiSelectFilter:filter:_settings.disableDiacritic; let i = index;" (click)="onItemClick($event,item)"
        class="multiselect-item-checkbox" [attr.title]="item.tooltip">
        <input type="checkbox" [attr.aria-label]="item.text" [checked]="isSelected(item)"
          [disabled]="disabled || (isLimitSelectionReached() && !isSelected(item)) || item.isDisabled" />
        <div>{{item.text}}</div>
      </li>
      <li class='no-filtered-data'
        *ngIf="_data.length != 0 && (_data | multiSelectFilter:filter:_settings.disableDiacritic).length == 0 && !_settings.allowRemoteDataSearch">
        <h5>{{_settings.noFilteredDataAvailablePlaceholderText}}</h5>
      </li>
      <li class='no-data' *ngIf="_data.length == 0 && !_settings.allowRemoteDataSearch">
        <h5>{{_settings.noDataAvailablePlaceholderText}}</h5>
      </li>
    </ul>
  </div>
</div>
